<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{empleado/fragmentosEmpleado :: botonesAgregar}"/>
        <section th:replace="~{empleado/fragmentosEmpleado :: agregarEmpleado}"/> 
        <section th:replace="~{empleado/fragmentosEmpleado :: listadoEmpleados}"/>  
        
        <footer th:replace="~{layout/plantilla :: footer}" />
    </body>
</html>