<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body style="overflow-y: scroll;">
        <header th:replace="~{layout/plantilla :: header}"/>
        <aside th:replace="~{layout/plantilla :: aside}"></aside>
        <div style="position: fixed;top: 150px;left: 10%;right: 0;">
            <section class="bg-primary text-white">
                <h2> Libros y Novelas Graficas </h2>
                <div class="container">
                    <div id="LML" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://contentv2.tap-commerce.com/cover/large/9789876122672_1.jpg?id_com=1113" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary" >Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://m.media-amazon.com/images/I/81lWVW-H5JL.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://imagessl6.casadellibro.com/a/l/t5/56/9788445000656.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://espaciolibros.com/wp-content/uploads/2017/06/insurgente-libro.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://m.media-amazon.com/images/I/71f7i5dHDSL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://www.zonanegativa.com/imagenes/2016/08/Flashpoint_Cartone.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://m.media-amazon.com/images/I/71zuetOTtxL.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://dw9to29mmj727.cloudfront.net/products/1421502410.jpg" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#LML" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#LML" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </section>
            
            <section>
                <h2> Novelas Graficas </h2>
                <div class="container">
                    <div id="LN" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary" >Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#LN" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#LN" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </section>



        </div>
    </section>
</div>
</body>
</html>